body{
background-color: darkgoldenrod;
color:rgb(11, 230, 11);




 }
 .Heading{
width:80%;
font-size: 26px;


 }

 #webcam{
width: 350px;
height: 300px;
border: 2px solid black;


 }

